<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
	id="WebApp_ID" version="3.1">
	<display-name>TravelDreamWeb</display-name>

	<login-config>
			<auth-method>FORM</auth-method>
			<realm-name>travelDream_realm</realm-name>
			<form-login-config>
				<form-login-page>/login.xhtml</form-login-page>
				<form-error-page>/loginError.xhtml</form-error-page>
			</form-login-config>
		</login-config>
		
		<error-page>
    		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
   			<location>/login.xhtml</location>
		</error-page>
		
		<error-page>
    		<exception-type>javax.servlet.ServletException</exception-type>
   			<location>/generalError.xhtml</location>
		</error-page> 
		
		<!-- <context-param>
  			  <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
  			  <param-value>client</param-value>
		</context-param> -->
		
		
		<security-role>
			<role-name>USER</role-name>
		</security-role>
		<security-role>
			<role-name>EMPLOYEE</role-name>
		</security-role>
	
	<security-constraint>
			<web-resource-collection>
				<web-resource-name>EmployeesPages</web-resource-name>
				<url-pattern>/Employee/*</url-pattern>
				<http-method>GET</http-method>
				<http-method>POST</http-method>
			</web-resource-collection>
			<auth-constraint>
				<role-name>EMPLOYEE</role-name>
			</auth-constraint>
		</security-constraint>
	
	<security-constraint>
			<web-resource-collection>
				<web-resource-name>UsersPages</web-resource-name>
				<url-pattern>/User/*</url-pattern>
				<http-method>GET</http-method>
				<http-method>POST</http-method>
			</web-resource-collection>
			<auth-constraint>
				<role-name>USER</role-name>
			</auth-constraint>
		</security-constraint>


	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>

<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
			<url-pattern>*.xhtml</url-pattern>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>


<context-param>
	    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
	    <param-value>true</param-value>
	</context-param>
</web-app>